html {
  margin: 0;
  padding: 0;
}

body{ 
    background-color: #1e3e67;
    margin: 0;
    padding: 0;
}

.header{
width: 100%;
box-sizing: border-box;
background-color: #1a365d;
color: white;
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 5px;
}
.header h1 {
  margin: 10px;
  padding: 0;
}

