html {
  margin: 0;
  padding: 0;
}

body{ 
    background-color: #1e3e67;
    margin: 0;
    padding: 0;
}

.header{
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #1a365d;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.headertext {
    display: flex;
    flex-direction: column;
}


.headerimage{
    flex-shrink: 0;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
}

.header h1 {
    margin: 0px;
    padding: 0;
    text-align: left;
}

.header p{
    margin: 0px;
    padding: 0;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.video-item {
  background-color: #1a365d;
  padding: 5px;
  border-radius: 8px;
}

.video-item iframe {
  width: 100%;
  height: 300px;
  border: none;
}

.video-item p {
  text-align: center;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  color: #333;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

.nav a:visited {
    color: white;
}

.nav a:hover {
    color: #d4af37;
}

.jump{
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    }

.list{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}